<!--The content below is only a placeholder and can be replaced.-->
<div class="appContainer">
  <h1>
    Welcome to my problem :(
  </h1>
  <p>
    I need to find a way to stop the re-rendering (video flicker)
  </p>
  <ul>
    <li *ngFor="let connection of connections | async">
      <div class="container">
        <video [srcObject]="connection.stream" autoplay muted></video>
        <div class="messageContainer">
          <ul>
            <li *ngFor="let message of (getMessagesForConnection(connection.id) | async).messages">
              {{ message.value }}
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>

